<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%if (meta.length>0) { %>
    <title><%- meta[0].title %></title>
    <meta name="description" content="<%- meta[0].description %>"/>
    <meta name="keywords" content="<%- meta[0].keyword %>"/>
    <meta property="og:title" content="<%- meta[0].title %>"/>
    <meta property="og:description" content="<%- meta[0].description %>"/>
    <meta property="og:url" content="https://www.amitkk.com<%- meta[0].url %>"/>
    <%if (meta[0].image) { %> <meta property="og:image" content="https://www.amitkk.com<%- meta[0].image %>"/> <% }else{ %> <meta property="og:image" content="https://www.amitkk.com/images/blog/wordpress-theme-developer-in-delhi.jpg"/><% } %>
    <meta name="twitter:title" content="<%- meta[0].title %>"/>
    <meta name="twitter:description" content="<%- meta[0].description %>"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <%if (meta[0].image) { %> <meta name="twitter:image" content="http://www.amitkk.com<%- meta[0].image %>"/><% }else{ %> <meta name="twitter:image" content="http://www.amitkk.com/images/blog/wordpress-theme-developer-in-delhi.jpg"/><% } %>
    <meta name="twitter:url" content="https://www.amitkk.com<%- meta[0].url %>"/>
    <meta name="twitter:site" content="@amitkk.com"/>
    <meta name="twitter:creator" content="@amitkk.com"/>
    <% } %>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="154761472308630"/>
    <meta property="og:site_name" content="Amitkk"/>    
    <link rel="alternate" hreflang="en" href="https://www.amitkk.com/">
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="root"><%-reactApp%></div>
    <script src="/js/jquery-3.1.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=885798875528804&autoLogAppEvents=1" nonce="yk5tkR35"></script>
</body>
</html>